
@font-face {
    font-family: 'kraljidel';
    src: url(Karljidelfont-Regular.ttf);
}

body {
    font-family: 'kraljidel';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrovat obsah vertikálně */
    height: 100vh; /* Celková výška okna */
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    user-select: none; /* Zabrání výběru textu */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px; /* Maximální šířka obsahu */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Lehké stínování */
    background-color: white;
    border-radius: 10px;
}
.title {
    font-size: 84px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.game_title{
    font-size: 48px;
}
form {
    display: flex;
    flex-direction: column; /* Zobrazení prvků ve sloupci */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Mezera mezi prvky */
    padding: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input {
    width: 200px; /* Šířka vstupního pole */
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'kraljidel';
}

button:hover {
    background-color: #0000ff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    gap: 1px;
    background-color: #333;
    user-select: none; /* Zabrání výběru textu */
}

.cell {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    user-select: none; /* Zabrání výběru textu */
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

/* Styl modálního okna */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 700px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 26px;
    color: red;
    font-weight: bold;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    background-color: #fff;
    user-select: none; /* Zabrání výběru textu */
    justify-content: center;
}

.game-cell {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}