
@font-face {
    font-family: 'kraljidel';
    src: url(Karljidelfont-Regular.ttf);
}

body {
    font-family: 'kraljidel', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.container:nth-child(2) {
    background-image: url('/static/background.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    min-height: 900px;
    min-width: 900px;
    box-shadow: none;
    justify-content: center;
}
.inner_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.game-container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #0000ff;
}

/* Scrollovatelný kontejner pro hry */
.games-container {
    max-height: 400px; /* Nastavit maximální výšku pro scrollování */
    overflow-y: auto;  /* Povolit vertikální scrollování */
    margin-top: 20px;
}

/* Box pro každou hru */
.game-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

/* Titulek hry (tučný) */
.game-header h3 {
    font-weight: bold;
    margin: 0;
    font-size: 22px;
}
.game-header{
    padding: 0px 50px 0px 0px;
}
#saveNames{
    background-color: transparent;
    border: solid 1px #0000ff;
    color: #0000ff;
    font-size: 18px;
    margin-top: 10px;
}
#saveNames:hover{
    background-color: #0000ff;
    border: solid 2px #0000ff;
    color: #fff;
}

/* Datum hry */
.game-date {
    font-size: 1.5em;
    color: #777;
}

/* Tlačítko pro zobrazení hry */
.game-actions a {
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover efekt pro tlačítko */
.game-actions a:hover {
    background-color: #ff0000;
    color: white;
}
.title {
    font-size: 84px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.game_title{
    font-size: 48px;
}
form {
    display: flex;
    flex-direction: column; /* Zobrazení prvků ve sloupci */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Mezera mezi prvky */
    padding: 20px;
}

label {
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}

input {
    width: 200px;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    border: 2px solid #000;
    border-radius: 4px;
}
input[type=text] {
    font-family: 'kraljidel', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
::placeholder {
    font-family: 'kraljidel', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

button {
    padding: 8px 16px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'kraljidel';
}

button:hover {
    background-color: #0000ff;
}


.cell {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    user-select: none; /* Zabrání výběru textu */
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

/* Styl modálního okna */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
span{
    font-size: 48px
}
.modal-content button{
    margin: 15px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 700px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 26px;
    color: red;
    font-weight: bold;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    background-color: #fff;
    user-select: none; /* Zabrání výběru textu */
    justify-content: center;
}
.nadpis_s_obrazky{
    display: flex;
    align-items: center; /* Vertikální zarovnání na střed */
    justify-content: center; /* Horizontální zarovnání (volitelné, např. pro středění) */
    gap: 20px;
}.nadpis_s_obrazky img{
    display: block;
}
.nadpis_s_obrazky{
    margin: 0;
}

.game-cell {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

h2{
    font-size: 64px;
}

.grid-background {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    background-color: #333;
    width: 602px;
    height: 602px;
}

.grid-background div {
    width: 40px;
    height: 40px;
    background-color: white;
}
p{
    font-size: 28px;
    font-weight: bold;
}

.grid-background .grid-cell {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
}

.game-container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}